section,nav,hgroup,header,footer,figure,figcaption,details,aside,article
  display: block

video,canvas,audio[controls]
  display: inline-block
  *display: inline
  *zoom: 1

html,textarea,select,input,button
  font-size: 100%

html
  overflow-y: scroll
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body,figure,form,textarea,select,input,button
  margin: 0

textarea,select,input,button,body
  font-family: sans-serif

img,input::-moz-focus-inner,button::-moz-focus-inner
  border: 0

img
  -ms-interpolation-mode: bicubic

a
  color: #00e

a:visited
  color: #551a8b

a:focus
  outline: thin dotted

a:active,a:hover
  outline: 0

abbr[title]
  border-bottom: 1px dotted

strong,b
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

mark
  background: #ff0
  color: #000

samp,kbd,code,pre
  font: 1em monospace,monospace

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:after,q:before
  content: none

small,sup,sub
  font-size: 75%

sup,sub
  line-height: 0
  position: relative

sup,sub,textarea,select,input,button
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

ol,ul
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav ol,nav ul
  list-style: none

fieldset
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  *margin-left: -7px

textarea,select,input,button
  *vertical-align: middle

input,button
  line-height: normal
  *overflow: visible

input[type="submit"],input[type="reset"],input[type="button"],button
  cursor: pointer
  -webkit-appearance: button

input[type="radio"],input[type="checkbox"]
  box-sizing: border-box

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

input::-moz-focus-inner,button::-moz-focus-inner,td,th
  padding: 0

textarea
  overflow: auto
  vertical-align: top

table
  border-collapse: collapse
  border-spacing: 0

td,th
  text-align: left
  vertical-align: middle

