.sprite-asterisk_yellow{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-b_difference{ background-position: 0 -46px; width: 16px; height: 16px; } 
.sprite-b_intersection{ background-position: 0 -92px; width: 16px; height: 16px; } 
.sprite-b_symmetric{ background-position: 0 -138px; width: 16px; height: 16px; } 
.sprite-b_union{ background-position: 0 -184px; width: 16px; height: 16px; } 
.sprite-data_table{ background-position: 0 -230px; width: 32px; height: 28px; } 
.sprite-difference{ background-position: 0 -288px; width: 32px; height: 32px; } 
.sprite-document_inspect{ background-position: 0 -350px; width: 32px; height: 32px; } 
.sprite-edit_diff{ background-position: 0 -412px; width: 32px; height: 32px; } 
.sprite-grep{ background-position: 0 -474px; width: 32px; height: 32px; } 
.sprite-grep_{ background-position: 0 -536px; width: 32px; height: 32px; } 
.sprite-intersection{ background-position: 0 -598px; width: 32px; height: 32px; } 
.sprite-left-difference{ background-position: 0 -660px; width: 32px; height: 32px; } 
.sprite-page_paste{ background-position: 0 -722px; width: 32px; height: 32px; } 
.sprite-right-difference{ background-position: 0 -784px; width: 32px; height: 32px; } 
.sprite-sort{ background-position: 0 -846px; width: 32px; height: 29px; } 
.sprite-sort_ascending{ background-position: 0 -905px; width: 32px; height: 29px; } 
.sprite-sort_columns{ background-position: 0 -964px; width: 31px; height: 32px; } 
.sprite-sql_join_right_exclude{ background-position: 0 -1026px; width: 16px; height: 16px; } 
.sprite-symmetric{ background-position: 0 -1072px; width: 32px; height: 32px; } 
.sprite-union{ background-position: 0 -1134px; width: 32px; height: 32px; } 
.sprite-uniq{ background-position: 0 -1196px; width: 32px; height: 28px; } 
