.icon
	background url('../images/sprites.png') no-repeat
	cursor pointer

.intersection
	background-position 0 -598px
.union
	background-position 0 -1134px
.difference
	background-position 0 -288px
.symmetric
	background-position 0 -1072px
.grep
	background-position 0 -474px

.xicon .plus
	background url('../images/icons/plus.png') no-repeat
.xicon .cog
	background url('../images/icons/cog.png') no-repeat

@font-face
	font-family 'IconPack'
	src local('IconPack'), url('fonts/iconpack.woff') format('woff');

@font-face
	font-family 'IconicStroke'
	src local('IconicStroke'), url("fonts/iconic_stroke.woff") format('woff');

.iconpack
	font normal 14px/10px 'IconPack'

.iconic
	font normal 14px/10px 'IconicStroke'

.iconpack, .iconic, .tool
	color #ddd
	cursor pointer
	transition color .3s ease-out

.iconpack
	&.timebefore
		content 's'
	&.starbefore
		content 'a'

.iconic
	font-family "IconicStroke"
	&.homebefore
		content '!'
	&.atbefore
		content "@"
	&.quotebefore
		content '\"'
	&.quote-altbefore
		content "'"
	&.arrow-upbefore
		content "3"
	&.arrow-rightbefore
		content "4"
	&.arrow-bottombefore
		content "5"
	&.arrow-leftbefore
		content "6"
	&.arrow-up-altbefore
		content "#"
	&.arrow-right-altbefore
		content "$"
	&.arrow-bottom-altbefore
		content "%"
	&.arrow-left-altbefore
		content "^"
	&.movebefore
		content "9"
	&.move-verticalbefore
		content "8"
	&.move-horizontalbefore
		content "7"
	&.move-altbefore
		content "("
	&.move-vertical-altbefore
		content "*"
	&.move-horizontal-altbefore
		content "&"
	&.cursorbefore
		content ")"
	&.plusbefore
		content "+"
	&.plus-altbefore
		content "="
	&.minusbefore
		content "-"
	&.minus-altbefore
		content "_"
	&.new-windowbefore
		content "1"
	&.dialbefore
		content "2"
	&.lightbulbbefore
		content "0"
	&.linkbefore
		content "/"
	&.imagebefore
		content "?"
	&.articlebefore
		content ">"
	&.read-morebefore
		content "."
	&.headphonesbefore
		content ","
	&.equalizerbefore
		content "<"
	&.fullscreenbefore
		content ""
	&.exit-fullscreenbefore
		content ";"
	&.spinbefore
		content "["
	&.spin-altbefore
		content "{"
	&.moonbefore
		content "]"
	&.sunbefore
		content "}"
	&.map-pinbefore
		content "\\"
	&.pinbefore
		content "|"
	&.eyedropperbefore
		content "~"
	&.deniedbefore
		content "`"
	&.calendarbefore
		content "a"
	&.calendar-altbefore
		content "A"
	&.boltbefore
		content "b"
	&.clockbefore
		content "c"
	&.documentbefore
		content "d"
	&.bookbefore
		content "e"
	&.book-altbefore
		content "E"
	&.magnifying-glassbefore
		content "f"
	&.tagbefore
		content "g"
	&.heartbefore
		content "h"
	&.infobefore
		content "i"
	&.chatbefore
		content "j"
	&.chat-altbefore
		content "J"
	&.keybefore
		content "k"
	&.unlockedbefore
		content "l"
	&.lockedbefore
		content "L"
	&.mailbefore
		content "m"
	&.mail-altbefore
		content "M"
	&.phonebefore
		content "n"
	&.boxbefore
		content "o"
	&.pencilbefore
		content "p"
	&.pencil-altbefore
		content "P"
	&.commentbefore
		content "q"
	&.comment-altbefore
		content "Q"
	&.rssbefore
		content "r"
	&.starbefore
		content "s"
	&.trashbefore
		content "t"
	&.userbefore
		content "u"
	&.volumebefore
		content "v"
	&.mutebefore
		content "V"
	&.cogbefore
		content "w"
	&.cog-altbefore
		content "W"
	&.xbefore
		content "x"
	&.x-altbefore
		content "X"
	&.checkbefore
		content "y"
	&.check-altbefore
		content "Y"
	&.beakerbefore
		content "z"
	&.beaker-altbefore
		content "Z"
