@font-face
	font-family: 'IconPack'
	src: local('IconPack'), url('fonts/iconpack.woff') format('woff'), url('fonts/iconpack.otf') format('opentype'), url('fonts/iconpack.svg#IconPack') format('svg')

@font-face
	font-family 'IconicStroke'
	src url("fonts/iconic_stroke.eot")
	src local('IconicStroke'), url("fonts/iconic_stroke.otf") format('opentype')

footer a.iconpack
	font: normal 20pt/30px 'IconPack'

footer a.iconic
	font: normal 20pt/45px 'IconicStroke'

a.iconpack, a.iconic, a.icon
	margin: 0
	color: #aaa
	width: 30px
	height: 100%
	padding: 0 10px
	cursor: pointer
	text-align: center
	text-shadow: 1px 1px 0px #fff
	transition: color .4s ease-out

	&:hover, &:active, &.active
		color: #666

.iconpack
	&.time:before
		content: 's'
	&.star:before
		content: 'a'

.iconic
	color: inherit
	font-family: "IconicStroke"
	&.home:before
		content: '!'
	&.at:before
		content: "@"
	&.quote:before
		content: '\"'
	&.quote-alt:before
		content: "'"
	&.arrow-up:before
		content: "3"
	&.arrow-right:before
		content: "4"
	&.arrow-bottom:before
		content: "5"
	&.arrow-left:before
		content: "6"
	&.arrow-up-alt:before
		content: "#"
	&.arrow-right-alt:before
		content: "$"
	&.arrow-bottom-alt:before
		content: "%"
	&.arrow-left-alt:before
		content: "^"
	&.move:before
		content: "9"
	&.move-vertical:before
		content: "8"
	&.move-horizontal:before
		content: "7"
	&.move-alt:before
		content: "("
	&.move-vertical-alt:before
		content: "*"
	&.move-horizontal-alt:before
		content: "&"
	&.cursor:before
		content: ")"
	&.plus:before
		content: "+"
	&.plus-alt:before
		content: "="
	&.minus:before
		content: "-"
	&.minus-alt:before
		content: "_"
	&.new-window:before
		content: "1"
	&.dial:before
		content: "2"
	&.lightbulb:before
		content: "0"
	&.link:before
		content: "/"
	&.image:before
		content: "?"
	&.article:before
		content: ">"
	&.read-more:before
		content: "."
	&.headphones:before
		content: ","
	&.equalizer:before
		content: "<"
	&.fullscreen:before
		content: ":"
	&.exit-fullscreen:before
		content: ";"
	&.spin:before
		content: "["
	&.spin-alt:before
		content: "{"
	&.moon:before
		content: "]"
	&.sun:before
		content: "}"
	&.map-pin:before
		content: "\\"
	&.pin:before
		content: "|"
	&.eyedropper:before
		content: "~"
	&.denied:before
		content: "`"
	&.calendar:before
		content: "a"
	&.calendar-alt:before
		content: "A"
	&.bolt:before
		content: "b"
	&.clock:before
		content: "c"
	&.document:before
		content: "d"
	&.book:before
		content: "e"
	&.book-alt:before
		content: "E"
	&.magnifying-glass:before
		content: "f"
	&.tag:before
		content: "g"
	&.heart:before
		content: "h"
	&.info:before
		content: "i"
	&.chat:before
		content: "j"
	&.chat-alt:before
		content: "J"
	&.key:before
		content: "k"
	&.unlocked:before
		content: "l"
	&.locked:before
		content: "L"
	&.mail:before
		content: "m"
	&.mail-alt:before
		content: "M"
	&.phone:before
		content: "n"
	&.box:before
		content: "o"
	&.pencil:before
		content: "p"
	&.pencil-alt:before
		content: "P"
	&.comment:before
		content: "q"
	&.comment-alt:before
		content: "Q"
	&.rss:before
		content: "r"
	&.star:before
		content: "s"
	&.trash:before
		content: "t"
	&.user:before
		content: "u"
	&.volume:before
		content: "v"
	&.mute:before
		content: "V"
	&.cog:before
		content: "w"
	&.cog-alt:before
		content: "W"
	&.x:before
		content: "x"
	&.x-alt:before
		content: "X"
	&.check:before
		content: "y"
	&.check-alt:before
		content: "Y"
	&.beaker:before
		content: "z"
	&.beaker-alt:before
		content: "Z"
