#main {
	border: 1px dotted #aaa;
	width: 400px;
	margin: 0 auto;
	height: 450px;
	position: relative;
	
}
.drop_zone, .mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.drop_zone {
	
}

.drop_zone.over {
	border-color: blue;
}

.mask {
	z-index: 10;
	/*display: none;*/
	text-align: center;
	padding-top: 40px;
	background: rgba(255, 255, 255, .6);
}

.mask div {
	position: relative;
	display: inline-block;
	font-family: 'DejaVu Serif';
	border: 1px dotted green;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	padding:0;
	margin:10px;
	font-size: 22px;
	background: #f0f0f0;
}
.mask div.over {
	border : 1px dotted red;
}
.input {
	white-space : pre-line;
	overflow-y: auto;
	height: 100%;
}