section,
nav,
hgroup,
header,
footer,
figure,
figcaption,
details,
aside,
article {
  display: block;
}
video,
canvas,
audio[controls] {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html,
textarea,
select,
input,
button {
  font-size: 100%;
}
html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0,0,0,0.00);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
figure,
form,
textarea,
select,
input,
button {
  margin: 0;
}
textarea,
select,
input,
button,
body {
  font-family: sans-serif;
}
img,
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}
img {
  -ms-interpolation-mode: bicubic;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong,
b {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
samp,
kbd,
code,
pre {
  font: 1em monospace, monospace;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:after,
q:before {
  content: none;
}
small,
sup,
sub {
  font-size: 75%;
}
sup,
sub {
  line-height: 0;
  position: relative;
}
sup,
sub,
textarea,
select,
input,
button {
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ol,
nav ul {
  list-style: none;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  *margin-left: -7px;
}
textarea,
select,
input,
button {
  *vertical-align: middle;
}
input,
button {
  line-height: normal;
  *overflow: visible;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner,
td,
th {
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  text-align: left;
  vertical-align: middle;
}
@font-face {
  font-family: "MuseoSans500";
  src: url("fonts/MuseoSans_500-webfont.eot");
  src: url("fonts/MuseoSans_500-webfont.eot?iefix") format("eot"), url("fonts/MuseoSans_500-webfont.woff") format("woff"), url("fonts/MuseoSans_500-webfont.ttf") format("truetype"), url("fonts/MuseoSans_500-webfont.svg#webfontkQkWxTED") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  overflow: auto;
}
body {
  font: normal 10pt sans-serif, Arial, Helvetica;
}
.main {
  background: #eee url("../images/3.png");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 320px;
}
.path {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 1;
  width: 320px;
  background: #eee;
  background: #eee url("../images/4.png");
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.30);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.30);
  box-shadow: 0 0 10px rgba(0,0,0,0.30);
}
.path div.row {
  color: #333;
  padding: 10px;
  position: relative;
  font: normal 14px/19px "Quattrocento Sans", sans-serif;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #f9f9f9), color-stop(1, #f0f0f0));
  background: -webkit-linear-gradient(top, #f9f9f9 20%, #f0f0f0 100%);
  background: -moz-linear-gradient(top, #f9f9f9 20%, #f0f0f0 100%);
  background: linear-gradient(top, #f9f9f9 20%, #f0f0f0 100%);
  -webkit-box-shadow: 0 2px 5px rgba(51,51,51,0.15), 0 -1px 3px #fff inset;
  -moz-box-shadow: 0 2px 5px rgba(51,51,51,0.15), 0 -1px 3px #fff inset;
  box-shadow: 0 2px 5px rgba(51,51,51,0.15), 0 -1px 3px #fff inset;
}
.path div.options {
  display: none;
  text-align: center;
  text-shadow: #000 2px 2px 0;
  background: url("../images/3.png");
  color: #fff;
  overflow: hidden;
  line-height: 40px;
  height: 0;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
  -webkit-box-shadow: 0 2px 7px rgba(51,51,51,0.15);
  -moz-box-shadow: 0 2px 7px rgba(51,51,51,0.15);
  box-shadow: 0 2px 7px rgba(51,51,51,0.15);
}
.path div.options img {
  cursor: pointer;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
  margin: 0 9px;
}
.path div.options img:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.path .counter {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font: bold 12px/19px arial;
  color: #fff;
  -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.30) inset;
  -moz-box-shadow: 0 1px 0px rgba(0,0,0,0.30) inset;
  box-shadow: 0 1px 0px rgba(0,0,0,0.30) inset;
  text-shadow: #999 1px 1px 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #b9b9b9), color-stop(1, #a9a9a9));
  background: -webkit-linear-gradient(top, #b9b9b9 20%, #a9a9a9 100%);
  background: -moz-linear-gradient(top, #b9b9b9 20%, #a9a9a9 100%);
  background: linear-gradient(top, #b9b9b9 20%, #a9a9a9 100%);
  padding: 0 7px;
}
.path .op {
  float: right;
  height: 19px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  padding: 0 15px;
}
.path .union {
  background-image: url("../images/b_union.png") center no-repeat;
}
.path .iconic {
  padding: 0 5px;
}
.path .iconic:hover {
  color: #c00;
}
.deck {
  position: absolute;
  top: 15px;
  left: 35px;
  right: 35px;
  bottom: 25px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
  background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.7, #e9e9e9));
  background: #fff -webkit-linear-gradient(top, #fff 0%, #e9e9e9 70%);
  background: #fff -moz-linear-gradient(top, #fff 0%, #e9e9e9 70%);
  background: #fff linear-gradient(top, #fff 0%, #e9e9e9 70%);
  border: 1px solid #bbb;
}
.dropper {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 100px;
  top: 100px;
}
.mask {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding-top: 40px;
  text-align: center;
  background: rgba(255,255,255,0.60);
}
.mask div {
  text-indent: -9000px;
  direction: ltr;
  position: relative;
  display: inline-block;
  border: 1px dotted #008000;
  height: 42px;
  width: 42px;
  margin: 0 5px;
}
.mask div.over {
  border: 1px dotted #f00;
}
.input {
  font-size: 12px;
  white-space: pre;
  overflow-y: auto;
  height: 100%;
}
.intersection {
  background: #fff url("../images/intersection.png") no-repeat 5px 6px;
}
.union {
  background: #fff url("../images/union.png") no-repeat 5px 6px;
}
.difference {
  background: #fff url("../images/left-difference.png") no-repeat 5px 6px;
}
.symmetric {
  background: #fff url("../images/symmetric.png") no-repeat 5px 6px;
}
.grep {
  background: #fff url("../images/grep.png") no-repeat 5px 6px;
}
footer {
  z-index: 11;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(0.9, #d6d6d6));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #d6d6d6 90%);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #d6d6d6 90%);
  background: linear-gradient(top, #f0f0f0 0%, #d6d6d6 90%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
footer.options {
  padding: 8px 8px 6px;
}
footer.options a {
  outline: 0;
  text-decoration: none;
  font: bold 11px tahoma;
  display: inline-block;
}
footer.options a.icon {
  color: #444;
  padding: 34px 4px 0;
}
footer.options a.icon.uniq {
  background: url("../images/data_table.png") no-repeat center top;
}
footer.options a.icon.sort {
  background: url("../images/sort_ascending.png") no-repeat center top;
}
.search {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #bbb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(0.5, #f0f0f0), color-stop(0.5, #e3e3e3), color-stop(0.5, #e9e9e9), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f0f0f0 50%, #e3e3e3 50%, #e9e9e9 50%, #eee 100%);
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f0f0f0 50%, #e3e3e3 50%, #e9e9e9 50%, #eee 100%);
  background: linear-gradient(top, #fdfdfd 0%, #f0f0f0 50%, #e3e3e3 50%, #e9e9e9 50%, #eee 100%);
}
.search input {
  margin: 0;
  width: 88%;
  padding: 5px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #bbb;
  -webkit-box-shadow: 1px 1px 3px #ccc inset, 1px 1px 0 #fff;
  -moz-box-shadow: 1px 1px 3px #ccc inset, 1px 1px 0 #fff;
  box-shadow: 1px 1px 3px #ccc inset, 1px 1px 0 #fff;
  background: #fff;
}
.search input:focus {
  outline: none;
  border: 1px solid rgba(14,139,206,0.50);
}
@font-face {
  font-family: "IconPack";
  src: local("IconPack"), url("fonts/iconpack.woff") format("woff"), url("fonts/iconpack.otf") format("opentype"), url("fonts/iconpack.svg#IconPack") format("svg");
}
@font-face {
  font-family: "IconicStroke";
  src: url("fonts/iconic_stroke.eot");
  src: local("IconicStroke"), url("fonts/iconic_stroke.svg") format("svg");
}
.iconpack {
  font: normal 14px/10px "IconPack";
}
.iconic {
  font: normal 14px/10px "IconicStroke";
}
.iconpack,
.iconic,
.icon {
  color: #ddd;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.iconpack.time:before {
  content: "s";
}
.iconpack.star:before {
  content: "a";
}
.iconic {
  font-family: "IconicStroke";
}
.iconic.home:before {
  content: "!";
}
.iconic.at:before {
  content: "@";
}
.iconic.quote:before {
  content: "\"";
}
.iconic.quote-alt:before {
  content: "'";
}
.iconic.arrow-up:before {
  content: "3";
}
.iconic.arrow-right:before {
  content: "4";
}
.iconic.arrow-bottom:before {
  content: "5";
}
.iconic.arrow-left:before {
  content: "6";
}
.iconic.arrow-up-alt:before {
  content: "#";
}
.iconic.arrow-right-alt:before {
  content: "$";
}
.iconic.arrow-bottom-alt:before {
  content: "%";
}
.iconic.arrow-left-alt:before {
  content: "^";
}
.iconic.move:before {
  content: "9";
}
.iconic.move-vertical:before {
  content: "8";
}
.iconic.move-horizontal:before {
  content: "7";
}
.iconic.move-alt:before {
  content: "(";
}
.iconic.move-vertical-alt:before {
  content: "*";
}
.iconic.move-horizontal-alt:before {
  content: "&";
}
.iconic.cursor:before {
  content: ")";
}
.iconic.plus:before {
  content: "+";
}
.iconic.plus-alt:before {
  content: "=";
}
.iconic.minus:before {
  content: "-";
}
.iconic.minus-alt:before {
  content: "_";
}
.iconic.new-window:before {
  content: "1";
}
.iconic.dial:before {
  content: "2";
}
.iconic.lightbulb:before {
  content: "0";
}
.iconic.link:before {
  content: "/";
}
.iconic.image:before {
  content: "?";
}
.iconic.article:before {
  content: ">";
}
.iconic.read-more:before {
  content: ".";
}
.iconic.headphones:before {
  content: ",";
}
.iconic.equalizer:before {
  content: "<";
}
.iconic.fullscreen:before {
  content: ":";
}
.iconic.exit-fullscreen:before {
  content: ";";
}
.iconic.spin:before {
  content: "[";
}
.iconic.spin-alt:before {
  content: "{";
}
.iconic.moon:before {
  content: "]";
}
.iconic.sun:before {
  content: "}";
}
.iconic.map-pin:before {
  content: "\\";
}
.iconic.pin:before {
  content: "|";
}
.iconic.eyedropper:before {
  content: "~";
}
.iconic.denied:before {
  content: "`";
}
.iconic.calendar:before {
  content: "a";
}
.iconic.calendar-alt:before {
  content: "A";
}
.iconic.bolt:before {
  content: "b";
}
.iconic.clock:before {
  content: "c";
}
.iconic.document:before {
  content: "d";
}
.iconic.book:before {
  content: "e";
}
.iconic.book-alt:before {
  content: "E";
}
.iconic.magnifying-glass:before {
  content: "f";
}
.iconic.tag:before {
  content: "g";
}
.iconic.heart:before {
  content: "h";
}
.iconic.info:before {
  content: "i";
}
.iconic.chat:before {
  content: "j";
}
.iconic.chat-alt:before {
  content: "J";
}
.iconic.key:before {
  content: "k";
}
.iconic.unlocked:before {
  content: "l";
}
.iconic.locked:before {
  content: "L";
}
.iconic.mail:before {
  content: "m";
}
.iconic.mail-alt:before {
  content: "M";
}
.iconic.phone:before {
  content: "n";
}
.iconic.box:before {
  content: "o";
}
.iconic.pencil:before {
  content: "p";
}
.iconic.pencil-alt:before {
  content: "P";
}
.iconic.comment:before {
  content: "q";
}
.iconic.comment-alt:before {
  content: "Q";
}
.iconic.rss:before {
  content: "r";
}
.iconic.star:before {
  content: "s";
}
.iconic.trash:before {
  content: "t";
}
.iconic.user:before {
  content: "u";
}
.iconic.volume:before {
  content: "v";
}
.iconic.mute:before {
  content: "V";
}
.iconic.cog:before {
  content: "w";
}
.iconic.cog-alt:before {
  content: "W";
}
.iconic.x:before {
  content: "x";
}
.iconic.x-alt:before {
  content: "X";
}
.iconic.check:before {
  content: "y";
}
.iconic.check-alt:before {
  content: "Y";
}
.iconic.beaker:before {
  content: "z";
}
.iconic.beaker-alt:before {
  content: "Z";
}
